<!-- in views/index.erb -->
<form action="/names" method="post">
    <label for="Player_1_name">Player 1: </label>
    <input type="text" name="Player_1_name">
    <label for="Player_2_name">Player 2: </label>
    <input type="text" name="Player_2_name">
    <input type="submit" name="Submit" value="Submit">
</form>